---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Home from "../components/Home.astro";
import Next from "../components/Next.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Nazareth's Portfolio">
  <main>
    <Menu />
    <Home />
    <Next />
    <Contact />
  </main>
</Layout>
