---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Home from '../components/Home.astro';
---

<Layout title="Nazareth's Portfolio">
    <main>
        <Menu/>
        <Home/>
    </main>
</Layout>