---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Home from "../components/Home.astro";
import Next from "../components/Next.astro";
import Animation from "../components/Animation.astro";
import Contact from "../components/Contact.astro";
import Prefooter from "../components/Prefooter.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nazareth's Portfolio">
  <main>
    <Menu />
    <Home />
    <!--<Next /> -->
    <Animation />
    <Contact />
  </main>
  <footer>
    <Prefooter />
    <Footer />
  </footer>
</Layout>
