---
import Layout from "../layouts/Layout.astro";
import ProfileComponent from "../components/linktree/Profile.astro";
import LinksComponent from "../components/linktree/Links.astro";
---

<Layout title="Uruvielsa Links 🔗">
  <div class="flex flex-col justify-center items-center">
    <ProfileComponent />
    <LinksComponent />
  </div>
</Layout>
