<header class="flex flex-col justify-center items-center">
  <img
    src="/uruvielsa_compress.gif"
    class="rounded-full border-2 mb-4 shadow-xl"
    alt="Imagen"
    width="200"
    height="200"
  />
  <h1 class="text-xl font-bold text-slate-500">@uruvielsa</h1>
</header>
