<section id="animation" class="pt-32 mb-4">
  <article class="mt-4 mb-4 bg-slate-100 rounded-lg p-5">
    <h2 class="text-3xl font-bold md:text-center mt-5 mb-5 md:ms-4">
      📹&nbsp;&nbsp;Demo Reel
    </h2>
    <div>
      <iframe
        class="w-full rounded-lg min-h-[450px]"
        src="https://www.youtube.com/embed/L6NbLT-KOxE?si=C1q1-ogwu7SY17mh"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </article>
</section>
