<section id="contact" class="mt-24 pt-14 mb-4 bg-yellow-personal-dark pb-20 md:pb-32">
  <div class="w-full max-w-4xl mx-auto px-4 py-6 text-center md:text-start">
    <h2 class="text-5xl text-white font-black text-center md:text-start">
      CONTACTO
    </h2>
    <p class="text-sm text-center md:text-start text-white">
      Abre las puertas a tu próximo proyecto
    </p>
    <img
      src="/img/contact-me.webp"
      alt="Contáctame"
      id="contact-me"
      class="mt-0 mb-0 mx-auto block md:mx-0 md:mt-[25%] h-96 md:float-left"
    />
    <form
      class="mt-0 mb-0 md:mt-3 w-full"
      method="POST"
      enctype="multipart/form-data"
    >
      <div
        class="bg-white shadow-md rounded-xl p-10 md:mt-10 md:mb-4 md:ms-64 md:pe-32"
      >
        <div class="flex flex-col">
          <label for="name" class="text-sm font-semibold text-left"
            >NOMBRE</label
          >
          <input
            type="text"
            id="name"
            class="rounded-lg border-2 border-yellow-personal-dark p-2 text-yellow-personal-dark"
            name="name"
            required
          />
        </div>
        <div class="flex flex-col pt-2">
          <label for="email" class="text-sm font-semibold text-left"
            >E-MAIL</label
          >
          <input
            type="email"
            id="email"
            class="rounded-lg border-2 border-yellow-personal-dark p-2 text-yellow-personal-dark"
            name="email"
            required
          />
        </div>
        <div class="flex flex-col pt-2">
          <label for="message" class="text-sm font-semibold text-left"
            >MENSAJE</label
          >
          <textarea
            id="message"
            class="rounded-lg border-2 border-yellow-personal-dark p-2 text-yellow-personal-dark"
            name="message"
            rows="4"
            required></textarea>
        </div>
        <div class="flex justify-center items-center md:ms-3">
          <button
            type="submit"
            class="mt-4 text-sm font-bold bg-yellow-personal-dark hover:bg-opacity-80 text-white py-2 px-10 rounded-lg mt-2 flex justify-center items-center"
          >
            ENVIAR
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram ms-2"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path></svg
            >
          </button>
        </div>
        <div
          class="ml-7 mt-3 font-bold text-[#1ec996] hidden text-center"
          id="successMessage"
        >
          Mensaje enviado correctamente.
        </div>
        <div
          class="ml-7 mt-3 font-bold text-[#c91e65] hidden text-center"
          id="errorMessage"
        >
          Ha habido un problema enviando el correo, inténtelo de nuevo.
        </div>
      </div>
    </form>
  </div>
</section>

<style>
  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
</style>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    fetch("https://formspree.io/f/mnqeanrw", {
      method: "POST",
      headers: {
        Accept: "application/json",
      },
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.ok) {
          showMessage(true);
          form.reset();
        } else {
          showMessage(false);
          console.error("Error al enviar el mensaje", data);
        }
      });
  });

  function showMessage(isSuccess) {
    const messageElement = document.getElementById(
      isSuccess ? "successMessage" : "errorMessage"
    );
    messageElement.classList.remove("hidden");
    messageElement.classList.add("visible");
    setTimeout(() => {
      messageElement.classList.remove("visible");
      messageElement.classList.add("hidden");
    }, 5000);
  }
</script>
