<script type="module">
  const textos = ["Designer ", "Animator "];
  let contador = 0;
  function cambiarTexto() {
    const elemento = document.getElementById("typewriter-text");
    elemento.innerHTML = textos[contador];
    contador = (contador + 1) % textos.length;
    elemento.style.animation = "none";
    elemento.offsetHeight; // Forzar reflujo para reiniciar la animaci贸n
    elemento.style.animation = "";
  }
  setInterval(cambiarTexto, 4000); // Cambia el texto cada 4 segundos
</script>

<section
  class="flex flex-col md:flex-row pt-10 md:pt-28 items-center justify-center"
>
  <div class="basis-1/2 text-center">
    <img src="/uruvielsa.gif" class="place-content-center" />
  </div>
  <div class="basis-1/2 text-center mt-3 md:text-end">
    <h1 class="text-5xl font-bold drop-shadow-2xl text-blue-personal">
      M陋 Nazareth
    </h1>
    <h1 class="text-4xl font-bold text-yellow-personal">Salguero Araya</h1>
    <div
      class="text-container text-center md:text-right pt-2 font-bold text-2xl"
    >
      <div id="typewriter-text" class="typewriter">Animator </div>
    </div>
    <p class="text-1xl hidden">Animator  & Designer </p>
    <p class="text-1.5-xl text-gray-600">
      Aqu铆, cada dise帽o es un pedazo de mi historia y cada animaci贸n, un latido
      de mi pasi贸n. Sum茅rgete en un mundo donde la imaginaci贸n cobra vida y el
      arte cuenta mi viaje.
    </p>
    <a
      href="https://www.linkedin.com/in/m%C2%AA-nazaret-salguero-araya-88289522b/"
      target="_blank"
      class="inline-block bg-blue-personal border-2 hover:bg-white text-white hover:text-blue-personal hover:underline font-bold py-2 px-4 rounded-full mt-2"
    >
      Perfil en Linkedin
    </a>
  </div>
</section>

<style>
  .text-container {
    display: inline-block; /* Ocupa solo el espacio necesario para el texto */
  }
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #0094d1;
    white-space: nowrap;
    animation:
      typing 1.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #0094d1;
    }
  }
</style>
