<nav
        class="sticky top-6 z-50 backdrop-blur-md bg-slate-200/60 shadow-2xl rounded-lg p-4"
>
    <ul class="flex flex-row justify-center">
        <li>
            <a href="#home" class="rounded py-2 px-4 hover:bg-slate-300">Inicio</a>
        </li>
        <li>
            <a href="#animation" class="rounded py-2 px-4 hover:bg-slate-300">Animación</a>
        </li>
      <!--
        <li>
            <a href="#design" class="rounded py-2 px-4 hover:bg-slate-300">Diseño</a>
        </li>
        -->
        <li>
            <a href="#contact" class="rounded py-2 px-4 hover:bg-slate-300">Contacto</a>
        </li>
    </ul>
</nav>
