---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Nazareth, una muestra de maestría única en animación y diseño. Descubre una galería vívida de animaciones 2D/3D, proyectos de diseño gráfico y soluciones creativas que dan vida a historias. Sumérgete en el mundo de diseños innovadores y experiencias de animación transformadoras de Nazareth."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex justify-center min-h-screen bg-white" id="home">
    <div class="w-full max-w-4xl mx-auto px-4 py-6">
      <slot />
    </div>
  </body>
</html>
<style is:global></style>
