---
interface Props {
  title: string;
}

const { title } = Astro.props;
const atMiddle = title === "Uruvielsa Links 游댕";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Nazareth, una muestra de maestr칤a 칰nica en animaci칩n y dise침o. Descubre una galer칤a v칤vida de animaciones 2D/3D, proyectos de dise침o gr치fico y soluciones creativas que dan vida a historias. Sum칠rgete en el mundo de dise침os innovadores y experiencias de animaci칩n transformadoras de Nazareth."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="animaci칩n, dise침o gr치fico, animaci칩n 2D, animaci칩n 3D, portfolio, Nazareth, creatividad"
    />
    <meta property="og:title" content={`${title}`} />
    <meta
      property="og:description"
      content="Portfolio de Nazareth, una muestra de maestr칤a 칰nica en animaci칩n y dise침o. Descubre una galer칤a v칤vida de animaciones 2D/3D, proyectos de dise침o gr치fico y soluciones creativas que dan vida a historias."
    />
    <meta property="og:image" content="/uruvielsa_compress.gif" />
    <meta property="og:url" content="https://uruvielsa.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title}`} />
    <meta
      name="twitter:description"
      content="Portfolio de Nazareth, una muestra de maestr칤a 칰nica en animaci칩n y dise침o."
    />
    <meta name="twitter:image" content="/uruvielsa_compress.gif" />
    <link rel="canonical" href="https://uruvielsa.com" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="icon" sizes="192x192" href="favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={`font-sans flex items-center justify-center bg-white ${atMiddle ? "min-h-screen" : ""}`}
  >
    <div class="w-full max-w-4xl mx-auto px-4 py-6">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }
</style>
